/*	mobile-slider*/
.mobile-slider , .desktop-slider {
	width: 100%;
	white-space: nowrap;
	overflow-x: auto;
	background-color: #01daaf;
	box-sizing: border-box;
	scroll-behavior: smooth;
	display: flex !important;
}
::-webkit-scrollbar {
	display: none;
}
.mobile-slide {
	display: inline-block;
	margin: 120px 40px;
	width: 75% !important;
	padding: 20% 5%; 
	background-image: url(../images/smartphone.png);
	background-size: contain;
	background-repeat: no-repeat;
}
.mobile-slide-img {
	width: 100%;
	object-fit: cover;
}

/*	desktop-slider*/

.desktop-slide {
	display: inline-block;
	margin: 120px 40px;
	width: 90% !important;
}
.desktop-slide-img {
	border: 4px solid #e2e2e2;
	width: 100%;
	object-fit: cover;
	border-radius: 10px;
	box-shadow: 0 0 31px rgba(0, 0, 0, 0.32);
}