

.frame,
.frame-clone {
	height: 600px;
	max-height: 70vh;
	min-width: 320px;
	position: absolute;
	transform: rotateX(70deg) rotateZ(-57deg) translate3d(42%, -16%, 0);
	perspective: 500px;
	transition-timing-function: ease-out;
	background-size: contain !important;
	background-repeat: no-repeat;
}

.frames {
	perspective: 3700px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: #424242;
}


.screens-desk,
.screens-clone {
	min-width: 640px;
}
