/*form section*/
.form-container {
	background:#deeaf7; 
	height: 870px;
	position: relative;
	overflow: hidden;
}

.form-container::before{
	content: "";
	width: 142px;
	height: 438px;
	position: absolute;
	background: url("../images/left.png");
	background-repeat: no-repeat;
	background-size:contain;
	box-shadow: 0 0 40px rgba(49, 60, 91, 0.3);
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
	top: 35%;
	left: -40px;
	
	-webkit-animation: circlemove 40s infinite;
	/* Safari 4.0 - 8.0 */
	animation: circlemove 40s infinite;
	animation-timing-function: linear;
}

.form-container::after{
	content: "";
	width: 142px;
	height: 425px;
	position: absolute;
	background: url("../images/right.png");
	background-repeat: no-repeat;
	box-shadow: 0 0 40px rgba(49, 60, 91, 0.3);
	background-size:contain;
	border-bottom-left-radius: 20px;
	top: -6%;
	right: -40px;
	
	-webkit-animation: circlemove 40s infinite;
	/* Safari 4.0 - 8.0 */
	animation: circlemove 40s infinite;
	animation-timing-function: linear;
}

.input-name,
.input-phone,
.input-email,
.input-message,
.form-btn {
	display: block;
	margin: 20px auto;    
	border: 1.5px solid rgba(52, 59, 91, 0.7490196078431373);
    border-radius: 12px;
	width: 450px;
	background: none;
}
input:focus , .input-message:focus , .form-btn:focus{
	outline: none;
}
.input-name,
.input-phone,
.input-email,
.form-btn {
	height: 55px;
}

.input-name,
.input-phone,
.input-email,
.input-message{
	padding: 20px;
	font-size: 18px;
}
.input-name::placeholder , .input-phone::placeholder, .input-message::placeholder, .input-email::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #78819A;
  opacity: 1; /* Firefox */
}

.input-message{
	height: 150px; 	
	font-family: Roboto;
	resize: none;
}

.form-btn {
	color: white;
	background: #343B5B;
	font-size: 25px;
	cursor: pointer;
}
.form-btn:hover , .form-btn:active{
	background: #565f8a;
}
#messagebox{
	font-size: 26px;
	color: #112B6E;
	text-align: center;
}
.form-title {
	text-align: center;
	font-size: 50px;
	color: #373E5A;
}

/*responsive styles*/

@media(max-width: 992px) {


}
