/*features styling*/
.feature-row {
	width: 100%;
	display: flex;
	padding: 20px 0px;
}

.feature-row:nth-of-type(2n) {
	flex-direction: row-reverse;
}

.feature-row .col-features {
	width: 50%;
	padding: 25px;
	text-align: right;
}
.feature-title {
	color: var(--brand-color);
	font-size: 38px;
	text-align: right;
	position: relative;
	padding: 5px 0;
	z-index: -1;
}

.feature-title::before {
	content: "";
	width: 70%;
	height: 4px;
	background: #ccc;
	position: absolute;
	bottom: -20px;
	z-index: -1;
	left: -16%;
}

.col-first{
	position: relative;
	z-index: 1;
}
.feature-row:nth-of-type(2n) .feature-title::before {
	right: -16%;
	left: auto;
}

.feature-row:nth-of-type(2n) .col-features,
.feature-row:nth-of-type(2n-1) .feature-title {
	text-align: left;
}

.feature-img {
	width: 280px;
	height: 280px;
	border-radius: 10px;
	object-fit: cover;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.feature-content {
	line-height: 32px;
	text-align: justify;
	color: #5E5A5A;
	padding: 5px 0 0 0;
	font-size: 20px;
}


/*responsive styles*/

