/*	review section*/
.reviews-container {
	background-repeat: no-repeat;
	color: white;
/*	height: 600px;*/
	background-size: cover;
}

.review {
	background: rgba(0, 0, 0, 0.4);
/*	height: 100%;*/
	display: flex;
	justify-content: center;
	align-items: center;
}
.review-con{
	padding: 50px 0 0 0;
}

.special-class {
	width: 140px;
	height: 140px;
	float: left;
	margin: -43px 20px 0 0;
}

.profile {
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
	
.profile-pic {
	background: white;
	border-radius: 100px;
	width: 75px;
	height: 75px;
	border: 3px solid white;
	object-fit: scale-down;
}

.profile-name {
	padding: 15px;
	font-size: 40px;
}

.review-parent {
	line-height: 49px;
	font-size: 26px;
	display: inline;
}
.review-content{
	display: inline;
	padding-left: 140px;
}
