/*responsive styles*/


@media(max-width: 992px) {
	.container {
		padding: 40px 20px;
	}

	/*about section styles*/

	.about-container::after,
	.about-container::before {
		display: none;
	}

	.about-content {
		line-height: 28px;
		font-size: 16px;
	}

	.about-title {
		font-size: 25px;
		margin: 20px 0px;
	}


	/*features styling*/

	.feature-row {
		display: block;
	}

	.feature-row .col-features {
		width: 100%;
		padding: 0px;
		text-align: center;
	}

	.feature-title {
		font-size: 22px;
		text-align: center;
		position: relative;
	}

	.feature-title::before {
		display: none;
	}

	.feature-row:nth-of-type(2n) .feature-title::before {
		right: 0;
		left: 0;
	}

	.feature-row:nth-of-type(2n) .col-features,
	.feature-row:nth-of-type(2n-1) .feature-title {
		text-align: center;
	}

	.feature-img {
		width: 150px;
		height: 150px;
	}

	.feature-content {
		line-height: 26px;
		padding: 0px;
		font-size: 16px;
	}

	/*form section*/
	.form-container {
		height: 600px;
	}

	.input-name,
	.input-phone,
	.input-email,
	.input-message,
	.form-btn {
		width: 250px;
		font-size: 16px;
		font-family: Roboto;
	}

	.input-name,
	.input-phone,
	.input-email,
	.form-btn {
		height: 35px;
	}

	.form-title {
		font-size: 27px;
	}

	.form-container::before,
	.form-container::after {
		display: none;
	}

	#messagebox {
		font-size: 18px;
	}

	/*frames section */
	.frames {
		height: 66vh;
	}

	.frame,
	.frame-clone {
		max-height: 51vh;
		max-width: 32vh;
		height: 240px;
		min-width: 25vh;
	}

	.screens-desktop {
		height: 66vh;
	}


	.screens-desk,
	.screens-clone {
		max-height: 51vh;
		/*		max-width: 32vh;*/
		height: 175px;
		min-width: 25vh;
		width: 225px;
	}

	/*	mobile-slider*/

	.mobile-slide {
		margin: 50px 20px;
/*		padding: 8% 2%;*/
		width: 30%;
	}

	.desktop-slide {
		margin: 70px 20px;
		width: 90%;
	}

	/*	review section*/
	.reviews-container {
/*		height: 400px;*/
	}

	.special-class {
		height: 40px;
		width: 40px;
		margin: -5px 11px 0 0;
	}

	.profile {
		margin-top: 20px;
		justify-content: center;
	}

	.profile-pic {
		width: 50px;
		height: 50px;
	}

	.profile-name {
		font-size: 18px;
	}

	.review-parent {
		line-height: 24px;
		font-size: 16px;
	}

	.review-content {
		padding-left: 50px;
	}

	/*		footer section*/

	.footer {
		height: 300px;
		top: 30%;
	}

	.circle-shape {
		height: 50%;
	}

	.circle {
		width: 140%;
		height: 300px;
		margin-left: -21%;
		clip-path: ellipse(51% 50% at 51% 50%);
	}

	.company-logo {
		width: 200px;
	}

	.copyrights {
		display: block;
	}

	.company-site {
		text-align: center;
		padding: 10px 0px;
		font-size: 16px;
	}

	.company-name-title {
		font-size: 16px;
	}

	.social-icons {
		padding: 10px;
		display: flex;
		justify-content: center;
	}


}
