@-webkit-keyframes mymove {
	0% {
		left: 8%;
	}

	50% {
		left: 24%;
	}

	100% {
		left: 8%
	}
}

/* Standard syntax */
@keyframes mymove {
	0% {
		left: 8%;
	}

	50% {
		left: 24%;
	}

	100% {
		left: 8%;
	}
}

@-webkit-keyframes circlemove {
	from {
		transform: rotate(0deg) translate(-40px) rotate(0deg);
	}

	to {
		transform: rotate(360deg) translate(-40px) rotate(-360deg);
	}
}

/* Standard syntax */
@keyframes circlemove {
	from {
		transform: rotate(0deg) translate(-40px) rotate(0deg);
	}

	to {
		transform: rotate(360deg) translate(-40px) rotate(-360deg);
	}
}

/*about section styles*/
.container {
	padding: 70px 150px;
	max-width: 1100px;
	margin: auto;
}

.about-container {
	text-align: center;
	position: relative;

}

.about-container::before {
	content: "";
	width: 400px;
	height: 400px;
	position: absolute;
	background-color: rgba(212, 212, 212, 0.4);
	border-radius: 20px;
	top: -66px;
	left: 8%;
	z-index: -1;
	-webkit-animation: mymove 30s infinite;
	/* Safari 4.0 - 8.0 */
	animation: mymove 30s infinite;
	animation-timing-function: linear;
}

.about-container::after {
	content: "";
	width: 500px;
	height: 350px;
	position: absolute;
	background-color: rgba(212, 212, 212, 0.4);
	border-radius: 20px;
	bottom: 8%;
	right: 10%;
	z-index: -1;
	-webkit-animation: circlemove 20s infinite;
	/* Safari 4.0 - 8.0 */
	animation: circlemove 20s infinite;
	animation-timing-function: linear;
}

.about-title {
	font-weight: bold;
	font-size: 38px;
	color: black;
	position: relative;
	display: inline-block;
	padding: 0 0 20px 0;
	margin:0 0 30px 0;
}

.about-title::before {
	content: "";
	width: 50%;
	height: 10px;
	background: var(--brand-color);
	position: absolute;
	bottom: 0px;
	right: 70%;
	transition: 2s;
	transition-timing-function: ease-out;
}

.add::before {
	right: -20%;
}

.about-content {
/*	position: relative;*/
	font-size: 22px;
	line-height: 40px;
	text-align: justify !important;
	color: #555454;
	margin: 0;
}
