/*footer section*/
.footer-section {
	background: #deeaf7;
	position: relative;

}
.circle-shape{

	width: 100%;
	height: 300px;
	overflow: hidden;
}
.circle{
	-webkit-clip-path: ellipse(45% 45% at 51% 50%);
	clip-path: ellipse(45% 45% at 51% 50%);
	width: 120%;
	margin-left: -12%;
	height: 100%;
	margin-bottom: -80%;
	background: #343b5b;
}
.footer {
	position: absolute;
	width: 100%;
	background: #343B5B;
	height: 250px;
	top: 35%;
}

.company-name {
	text-align: center;
}

.company-name-title {
	color: white;
	font-size: 18px;
	margin: 0;
	position: relative;
	display: inline;
	border-bottom-style: dashed;
	border-width: 2px;
    padding: 6px;	
}

.company-logo {
	width: 350px;
	padding: 30px;
	display: block;
	margin: auto;
}

.copyrights {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 35px 0 0 0;
}

.company-site {
	color: white;
	padding: 20px 80px;
	font-size: 20px;
	text-decoration: none;
	display: block;
}

.social-icons {
	padding: 0 80px;
}

.instagram-icon,
.facebook-icon,
.twitter-icon {
	width: 40px;
	height: 40px;
	padding: 10px;
	fill: white;
}
.shadow {
  -webkit-filter: drop-shadow( 0 0 10px black);
  filter: drop-shadow( 0 0 10px black);
  /* Similar syntax to box-shadow */
}
