* {
  margin: 0;
  padding: 0;
}

body {
  background: #212121 url("../images/DESIGNDEVELOP.png") no-repeat fixed;
  background-position: 15% 140px;
  background-size: 60vh;
  font-display: fallback;
}

@font-face {
  font-family: cera;
  src: url(../fonts/cera.otf);
}

@font-face {
  font-family: cera-bold;
  src: url(../fonts/cerabold.otf);
}

@font-face {
  font-family: cera-thin;
  src: url(../fonts/cerathin.otf);
}

@font-face {
  font-family: cera-light;
  src: url(../fonts/ceralight.otf);
}

@font-face {
  font-family: cera-medium;
  src: url(../fonts/ceramedium.otf);
}

.container {
  max-width: 1100px;
  margin: auto;
}

.heading {
  padding: 15px 25px 10px;
  z-index: 111;
  background: #212121;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  top: 0;
}

.site-link {
  position: relative;
}

.website-link {
  color: #fff;
  font-size: 20px;
  display: inline;
  text-transform: uppercase;
  font-family: cera, Verdana, sans-serif;
  text-decoration: none;
  cursor: pointer;
}

.website-link:hover {
  color: #c3c3c3;
}

.web-indicator {
  width: 13px;
  height: 13px;
  fill: #fff;
  position: absolute;
  top: 30%;
  right: -15px;
  transition: 0.3s;
  transition-timing-function: ease-out;
}

.site-link:hover > .web-indicator {
  right: -25px;
  fill: #c3c3c3;
}

.logo {
  height: 40px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  transition: 1s;
}

.footer-logo {
  height: 40px;
}

@-webkit-keyframes rotatediv {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

@keyframes rotatediv {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.animated-div1,
.animated-div2,
.animation-rect2,
.animated-div4,
.animated-div5 {
  -webkit-animation: rotatediv 20s infinite linear;
  animation: rotatediv 20s infinite linear;
}

.animated-div1 {
  position: absolute;
  top: 70%;
  left: 10%;
  z-index: 8;
}

.animation-cube {
  width: 150px;
  height: 150px;
  z-index: 8;
}

.animated-div2 {
  position: absolute;
  top: 20%;
  left: 10%;
  z-index: 2;
}

.animation-rect {
  width: 50px;
  height: 50px;
  z-index: 2;
}

.animated-div3 {
  position: absolute;
  top: 20%;
  left: 30%;
  z-index: 2;
}

.animation-rect2 {
  width: 50px;
  height: 50px;
  z-index: 2;
}

.animated-div4 {
  width: 44px;
  height: 44px;
  background-color: #5e97f9;
  position: absolute;
  top: 20%;
  right: 20%;
  border-radius: 11px;
  z-index: 2;
}

.animated-div5 {
  width: 44px;
  height: 44px;
  background-color: #1ff3cd;
  position: absolute;
  bottom: 20%;
  right: 20%;
  border-radius: 11px;
  z-index: 2;
}

.slider {
  padding-top: 100px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  /*	height: 70vh;*/
}

.slider-title {
  font-size: 136px;
  color: #fff;
  font-family: cera-bold, Verdana, sans-serif;
  margin: 0;
  width: 460px;
  padding: 40px 160px;
  z-index: 1;
}

.slider-title p {
  border-right: 10px solid orange;
  white-space: nowrap;
  overflow: hidden;
  letter-spacing: 8px;
}

.slider-title p:nth-child(1) {
  width: 300px;
  -webkit-animation: type 1.5s steps(8, end), blink 0.5s step-end infinite alternate;
  animation: type 1.2s steps(8, end), blink 0.5s step-end infinite alternate;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.slider-title p:nth-child(2) {
  width: 500px;
  opacity: 0;
  -webkit-animation: type2 1.5s steps(12, end), blink 0.5s step-end infinite alternate;
  animation: type2 1.5s steps(12, end), blink 0.5s step-end infinite alternate;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.slider-title p:nth-child(3) {
  width: 450px;
  opacity: 0;
  -webkit-animation: type3 1.5s steps(10, end), blink 0.5s step-end infinite alternate;
  animation: type3 1.5s steps(10, end), blink 0.5s step-end infinite alternate;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }

  99.9% {
    border-right: 10px solid orange;
  }

  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }

  99.9% {
    border-right: 10px solid orange;
  }

  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }

  1% {
    opacity: 1;
  }

  99.9% {
    border-right: 10px solid orange;
  }

  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }

  1% {
    opacity: 1;
  }

  99.9% {
    border-right: 10px solid orange;
  }

  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }

  1% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }

  1% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}

.comma-class {
  color: #1ff3cd;
}

.portfolio-title {
  color: #5e97f9;
  text-align: center;
  font-size: 23px;
  text-transform: uppercase;
  font-family: cera-bold, Verdana, sans-serif;
}

.contact-details {
  margin: 80px 0;
}

.portfolio-headline {
  text-align: center;
  color: #fff;
  font-size: 55px;
  font-family: cera, Verdana, sans-serif;
  /* padding-top: 100px; */
  margin-bottom: 35px;
}
.phon-logo {
  vertical-align: bottom;
}
.portfolio-call {
  /* padding: 20px 0; */
  font-size: 40px;
}
.contact-no {
  color: #1ff3cd;
  font-family: sans-serif;
  text-decoration: none;
}
.ninety-nine {
  font-size: 105px;
  color: #5e97f9;
  transform: rotate(16deg);
  display: inline-block;
  font-weight: bold;
}

.design {
  color: #1ff3cd;
  font-size: 68px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 64px;
  display: inline-block;
  padding: 0 10px 12px;
  vertical-align: middle;
}

.portfolio {
  position: relative;
  margin-top: 30px;
}

.portfolio-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 150px;
}

.portfolio-one {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  padding: 45px 0px;
  width: 375px;
}

@-webkit-keyframes mymove {
  0% {
    top: 40px;
  }

  50% {
    top: 60px;
  }

  100% {
    top: 40px;
  }
}

@keyframes mymove {
  0% {
    top: 40px;
  }

  50% {
    top: 60px;
  }

  100% {
    top: 40px;
  }
}

.down-arrow {
  height: 16px;
  fill: #fff;
  position: absolute;
  left: 50%;
  top: 40px;
  -webkit-animation: mymove 3s infinite;
  /* Safari 4.0 - 8.0 */
  animation: mymove 3s infinite;
}

.project {
  position: relative;
  overflow: hidden;
}

.project:hover .middle-btn {
  cursor: pointer;
  /*	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);*/
  transform: scale(1);
  top: 0;
}

.portfolio-img {
  width: 98%;
  border: 3px solid #5c605f;
  border-radius: 3px;
  margin: auto;
  z-index: 1;
  -webkit-filter: brightness(80%);
  filter: grayscale(100%);
  cursor: pointer;
}

.middle-btn {
  position: absolute;
  z-index: 11;
  transition: 1s;
  top: 100%;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(32, 243, 205, 0.6);
  /*	clip-path: polygon(34% 0, 65% 0, 65% 100%, 34% 100%);*/
  transform: scale(0.4);
  border-radius: 3px;
}

.view-btn {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background: #212121;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  opacity: 1;
}

.portfolio-type {
  color: rgba(94, 151, 249, 0.244);
  font-size: 66px;
  font-family: cera-bold, Verdana, sans-serif;
  text-align: center;
  position: absolute;
  top: -14px;
  z-index: 0;
}

.portfolio-name {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-family: cera-bold, Verdana, sans-serif;
  text-align: center;
  padding-top: 10px;
}

.technology-slider {
  height: 180px;
  margin: 75px 0px;
  display: flex !important;
  align-items: center;
}

.technology-title {
  text-align: center;
  font-size: 35px;
  color: #fff;
  font-family: cera, Verdana, sans-serif;
  padding: 80px 0 0 0;
  position: relative;
}

@-webkit-keyframes animaterotate {
  0% {
    left: 40%;
    transform: rotate(45deg);
  }

  50% {
    left: 54%;
    transform: rotate(405deg);
  }

  100% {
    left: 40%;
    transform: rotate(45deg);
  }
}

@keyframes animaterotate {
  0% {
    left: 40%;
    transform: rotate(45deg);
  }

  50% {
    left: 54%;
    transform: rotate(405deg);
  }

  100% {
    left: 40%;
    transform: rotate(45deg);
  }
}

.technology-title::before {
  content: "";
  width: 60px;
  height: 60px;
  background: #1ff3cd;
  position: absolute;
  border-radius: 9px;
  z-index: -999;
  transform: rotate(45deg);
  left: 40%;
  bottom: -6px;
  -webkit-animation: animaterotate 10s infinite;
  /* Safari 4.0 - 8.0 */
  animation: animaterotate 10s infinite;
}

.slider-img {
  width: 240px;
  margin: auto;
  border-radius: 10px;
}

.slider-name {
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  font-family: cera, Verdana, sans-serif;
  color: #fff;
}

.next-arrow,
.prev-arrow {
  width: 226px;
  height: 226px;
  z-index: -11;
  fill: rgba(94, 151, 249, 0.4);
  position: absolute;
}

.prev-arrow {
  left: -103px;
  z-index: 11;
}

.next-arrow {
  right: -103px;
  z-index: 11;
}

.slick-arrow {
  display: flex;
  align-items: center;
}

.project-contact {
  display: flex;
  width: 100%;
  align-items: flex-end;
}

.plan-btn {
  width: 50%;
  height: 187px;
  color: white;
  background: linear-gradient(180deg, #252525 0%, #252525 0.01%, #252525 0.02%, #393838 100%);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 57px;
  font-family: cera-medium;
}

.contact-form {
  background: linear-gradient(175.97deg, #3a3a3a 48.02%, #5a5a5a 118.04%);
  border: 1px solid #484848;
  box-sizing: border-box;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  padding: 20px 60px;
  width: 50%;
}
.details-label,
.company-label {
  color: #d0d0d0;
  font-size: 11px;
  font-family: cera-light;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.btn-div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 20px 0 0 0;
}

.send-btn {
  text-align: right;
  width: 223px;
  background: #1ff3cd;
  border: none;
  color: #3f3f3f;
  font-size: 24px;
  font-family: cera-bold;
  text-transform: uppercase;
  padding: 7px 18px;
  cursor: pointer;
  outline: none;
}

.personal-detail-div,
.company-detail {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.input {
  background: none;
  border: none;
  border-bottom: 0.5px solid #9f9f9f;
  padding: 8px;
  font-family: cera-light;
  font-size: 22px;
  color: #737373;
  width: 48%;
}
.input:focus {
  outline: none;
}

.company-desc {
  width: 100%;
  margin-top: 15px;
}

.company-label {
  margin-top: 25px;
}
#messagebox {
  color: #f44336;
  text-align: center;
  font-family: cera-bold;
  padding: 20px;
  font-size: 20px;
}
footer {
  display: flex;
  justify-content: center;
  background: #181818;
  padding: 50px;
}

.social-links {
  display: flex;
  position: fixed;
  top: calc(50% - 275px);
  right: 0;
  transform-origin: right bottom;
  transform: rotate(-90deg);
  border: 1px solid #fff;
  background: #1f1f1f;
  z-index: 12;
  border-bottom: 0px;
}

.links {
  font-size: 23px;
  text-transform: uppercase;
  padding: 5px 30px;

  font-family: cera-thin, Verdana, sans-serif;
  border-right: 1px solid #fff;
}

.links > a {
  color: #fff;
  text-decoration: none;
}

@media only screen and (max-width: 1024px) {
  .prev-arrow,
  .next-arrow {
    width: 50px;
    height: 50px;
  }

  .prev-arrow {
    left: 0;
  }

  .next-arrow {
    right: 0;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    max-width: 360px;
  }

  .logo {
    height: 26px;
  }

  .heading {
    padding: 20px 0px;
  }

  .website-link {
    font-size: 16px;
  }

  .web-indicator {
    width: 10px;
    height: 10px;
    right: -10px;
  }

  .animation-cube {
    width: 50px;
    height: 50px;
  }

  .animation-rect,
  .animation-rect2 {
    width: 25px;
    height: 25px;
  }

  .animated-div4,
  .animated-div5 {
    width: 25px;
    height: 25px;
    border-radius: 3px;
  }

  .slider {
    justify-content: center;
    /*		padding-top: 35px;*/
    /*		height: 400px;*/
  }

  .extra-space {
    display: none;
  }

  .slider-title {
    font-size: 71px;
    padding: 20px;
    width: 250px;
  }

  .slider-title p:nth-child(1) {
    width: 200px;
  }

  .slider-title p:nth-child(2) {
    width: 280px;
  }

  .slider-title p:nth-child(3) {
    width: 240px;
  }

  .portfolio-wrapper {
    flex-direction: column;
    margin-top: 50px;
  }

  .portfolio-title {
    font-size: 18px;
  }

  .technology-title {
    font-size: 24px;
  }

  .contact-details {
    margin: 30px 0;
  }

  @-webkit-keyframes animaterotate {
    0% {
      left: 30%;
      transform: rotate(45deg);
    }

    50% {
      left: 60%;
      transform: rotate(405deg);
    }

    100% {
      left: 30%;
      transform: rotate(45deg);
    }
  }

  @keyframes animaterotate {
    0% {
      left: 30%;
      transform: rotate(45deg);
    }

    50% {
      left: 60%;
      transform: rotate(405deg);
    }

    100% {
      left: 30%;
      transform: rotate(45deg);
    }
  }

  .technology-title::before {
    width: 40px;
    height: 40px;
  }

  .portfolio-one {
    width: 95%;
    margin: auto;
  }

  .portfolio-name {
    font-size: 23px;
  }

  .portfolio-img {
    /*		width: 100%;*/
    border: 3px solid #1ff3cd;
  }

  .portfolio-type {
    font-size: 44px;
    z-index: 0;
    top: -8px;
  }

  .portfolio-headline {
    font-size: 22px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    /* padding-top: 70px; */
  }
  .phon-logo {
    width: 30px;
    height: 30px;
  }

  .contact-no {
    margin-top: 8px;
  }

  .subpara-headline {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ninety-nine {
    font-size: 55px;
  }

  .design {
    font-size: 40px;
  }

  .prev-arrow,
  .next-arrow {
    width: 50px;
    height: 50px;
  }

  .prev-arrow {
    left: 0;
  }

  .next-arrow {
    right: 0;
  }

  .slider-img {
    width: 200px;
    margin-top: 20px;
  }

  .slider-name {
    font-size: 20px;
  }

  .project-contact {
    flex-direction: column;
  }

  .plan-btn {
    width: 100%;
    height: 100px;
    font-size: 40px;
  }

  .contact-form {
    padding: 20px 20px;
    width: 100%;
  }

  .details-label,
  .company-label {
    color: white;
    font-size: 11px;
    font-family: cera-light;
    text-transform: uppercase;
    margin-bottom: 7px;
  }

  .btn-div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px 0 0 0;
  }

  .send-btn {
    width: 150px;
    font-size: 20px;
    padding: 5px 14px;
  }
  .input {
    padding: 8px;
    font-size: 18px;
  }

  .social-links {
    justify-content: space-around;
    position: static;
    transform: unset;
  }

  .links {
    font-size: 16px;
    padding: 10px 0px;
    width: 33%;
    text-align: center;
  }
}
